:root{
    --primaryColor:#ff206e;
    --mainFont:"Open Sans", sans-serif;
}
.text__primary{
    color: var(--primaryColor);
}

body{
    font-family: var(--mainFont);
}

.navbar-nav .nav-item .nav-link{
    color: white;
}

.navbar-nav .nav-item a.active{
    color:var(--primaryColor);
}

.hero{
    background-image: url('./imag/bg.jpg');
    background-size: cover;
}
 .hero a{
    color:var(--primaryColor);
 }


.carousel-indicators [data-bs-target]{
    height: 30px;
    border-radius:50% ;
background-color: var(--primaryColor);
}

.Testimonial img{
    width: 100px;
    height: 100px;
}




 .about, 
 .portfolio{
    background-image: url('./imag/light_dot.jpg');
 }

 .portfolio.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active {
     color: var(--primaryColor);
 }
.nav-link {
color: black;
 }

 .nav-link:focus, .nav-link:hover {
     color:var(--primaryColor);
 }
.nav-tabs .nav-link  {
border:none ;
 }
.nav-tabs{
    border-bottom:none ;
}

